<h1><%= @cat.name %></h1>
<table>
  <tr>
    <th> Birth Date</th>
    <td> <%= @cat.birth_date %> </td>
  </tr>
  <tr>
    <th> Color </th>
    <td> <%= @cat.color %> </td>
  </tr>
  <tr>
    <th> Sex </th>
    <td> <%= @cat.sex %> </td>
  </tr>
</table>

<br>

<%= @cat.description %>
