<h1><%= @cat.name %></h1>
<table>
  <tr>
    <th> Birth Date</th>
    <td> <%= @cat.birth_date %> </td>
  </tr>
  <tr>
    <th> Color </th>
    <td> <%= @cat.color %> </td>
  </tr>
  <tr>
    <th> Sex </th>
    <td> <%= @cat.sex %> </td>
  </tr>
</table>

<br>

<h2>Description</h2>
<%= @cat.description %>

<br>
<br>

<h2>Rental Requests</h2>
<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
  </tr>
  <% @cat_requests.each do |request| %>
  <tr>
    <td> <%= request.start_date %> </td>
    <td> <%= request.end_date %> </td>
    <td> <%= request.status %> </td>
    <% if request.pending? %>
      <td>
        <form action="<%= cat_rental_request_url(request) %>" method="POST">
          <input type="hidden" name="_method" value="PATCH">
          <input type="hidden" name="cat_rental_request[status]" value="APPROVED">
          <input type="submit" value="Approve">
        </form>
      </td>
      <td>
        <form action="<%= cat_rental_request_url(request) %>" method="POST">
          <input type="hidden" name="_method" value="PATCH">
          <input type="hidden" name="cat_rental_request[status]" value="DENIED">
          <input type="submit" value="Deny">
        </form>
      </td>
    <% end %>
    </tr>
  <% end %>
</table>
